{% extends 'base.html' %}
{% block title %}Edit Post by {{ post.user.full_name }}{% endblock %}
{% block content %}
    <h1>Edit Post by {{ post.user.full_name }}</h1>
    {% for category, msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
    {% endfor %}
    <form id="edit-post" action="/posts/{{post.id}}/edit" method="POST">
        <label for="Title">Title:</label>
        <input type="text" id ="title" name="title" maxlength="25" placeholder="{{post.title}}">
        <br>
        <label for="content">Content:</label>
        <textarea id ="content" name="content" placeholder="{{post.content}}"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <a href="/users/{{ post.user.id }}"><button>Cancel</button></a>
{% endblock %}