{% extends 'base.html' %}
{% block title %}New Post by {{ user.full_name }}{% endblock %}
{% block content %}
    <h1>New Post by {{ user.full_name }}</h1>
    {% for category, msg in get_flashed_messages() %}
    <p>{{ msg }}</p>
    {% endfor %}
    <form id="new-post" action="/users/{{ user.id }}/posts/new" method="POST">
        <label for="Title">Title:</label>
        <input type="text" id ="title" name="title" maxlength="25">
        <br>
        <label for="content">Content:</label>
        <textarea id ="content" name="content"></textarea>
        <br>
        <ul>
        {% for tag in tags %}
            <li>
                <input type="checkbox" id="{{tag.name}}" name="tag" value="{{tag.id}}" label for="{{tag.name}}">{{tag.name}}</label>
            </li>
        {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
    
    <a href="/users/{{ user.id }}"><button>Cancel</button></a>
{% endblock %}